@model IList<BoJo.Models.UniversityMatches>
<!--IEnumerable<BoJo.Models.UniversityMatches> -->

<style>
{
  box-sizing: border-box;
}

.FirstDiv{
  background-color: #3898eb;
  height: 40px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  /*height: 300px;*/ /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<h1>Safety Schools</h1>
<div class = "FirstDiv">
</div>

@for (var i = 0; i < (Model.Count())/3;i++)
{
    
    @if (Model[i].Size != 0)
    {
        <div class="row">
            <div class="column">
                <img src = " " alt= "Image not Found" > 
            </div>
            <div class="column">
                <a href=@Url.Action("Institution","Institutions", new { id = Model[i].UniversityNumber })><h1>@Model[i].UniversityName</h1></a>
                <h4>About</h4>
                <p>
                    @Model[i].Overview
                </p>
                <br>
                <h5>School Size: @Model[i].Size</h5>
                <h5>Total Cost: $@Model[i].TuitonAndFees</h5>
                <h5>Percentage Match Preferences: @Model[i].preference_match_percent%</h5>
                <h5>Admission Match Percentage: @Model[i].admission_match_percent%</h5>
            </div>
        </div> 

    }  
    else
    {
        <h4>NULL</h4>
    }
    <hr />
}

<h1>Fit Schools</h1>
<div class = "FirstDiv">
</div>

@for (var i = ( (Model.Count())/3 ); i < ((Model.Count())/3 + Model.Count()/3);i++)
{
    

    @if (Model[i].Size != 0)
    {
        <div class="row">
            <div class="column">
                <img src = " " alt= "Image not Found" > 
            </div>
            <div class="column">
                <a href=@Url.Action("Institution","Institutions", new { id = Model[i].UniversityNumber })><h1>@Model[i].UniversityName</h1></a>
                <h4>About</h4>
                <p>
                    @Model[i].Overview
                </p>
                <br>
                <h5>School Size: @Model[i].Size</h5>
                <h5>Total Cost: $@Model[i].TuitonAndFees</h5>
                <h5>Percentage Match Preferences: @Model[i].preference_match_percent%</h5>
                <h5>Admission Match Percentage: @Model[i].admission_match_percent%</h5>
            </div>
        </div> 

    }  
    else
    {
        <h4>NULL</h4>
    }
    <hr />
}

<h1>Reach Schools</h1>
<div class = "FirstDiv">
</div>

@for (var i =((Model.Count())/3 + Model.Count()/3); i < Model.Count();i++)
{
    

    @if (Model[i].Size != 0)
    {
        <div class="row">
            <div class="column">
                <img src = " " alt= "Image not Found" > 
            </div>
            <div class="column">
                <a href=@Url.Action("Institution","Institutions", new { id = Model[i].UniversityNumber })><h1>@Model[i].UniversityName</h1></a>
                <h4>About</h4>
                <p>
                    @Model[i].Overview
                </p>
                <br>
                <h5>School Size: @Model[i].Size</h5>
                <h5>Total Cost: $@Model[i].TuitonAndFees</h5>
                <h5>Percentage Match Preferences: @Model[i].preference_match_percent%</h5>
                <h5>Admission Match Percentage: @Model[i].admission_match_percent%</h5>
            </div>
        </div> 

    }  
    else
    {
        <h4>NULL</h4>
    }
    <hr />
}









<!--@foreach (var item in Model)
{
    <div class = "FirstDiv">
    </div>

    @if (item.Size != 0)
    {
        <div class="row">
            <div class="column">
                <img src = " " alt= "Image not Found" > 
            </div>
            <div class="column">
                <a href=@Url.Action("Institution","Institutions", new { id = @item.UniversityNumber })><h1>@item.UniversityName</h1></a>
                <h4>About</h4>
                <p>
                    @item.Overview
                </p>
                <br>
                <h5>School Size: @item.Size</h5>
                <h5>Total Cost: $@item.TuitonAndFees</h5>
                <h5>Percentage Match Preferences: @item.preference_match_percent%</h5>
                <h5>Admission Match Percentage: @item.admission_match_percent%</h5>
            </div>
        </div> 

    }  
    else
    {
        <h4>NULL</h4>
    }
    <hr />
}

-->
<div id="chatbox"></div>

@section Scripts {
    <script>
        $('#chatbox').load("/Chat/ChatRoom")
    </script>
}
