@{
    StudentProfile SP = (StudentProfile)ViewData["StudentProfile"];
    User user = (User)ViewData["User"];
}

<div class="card-body p-4">
    <h6>Student Information</h6>
    <hr class="mt-0 mb-4">
    <div class="row pt-1">
        <div class="col-6 mb-3">
            <h6>First Name</h6>
            <p class="text-muted"> @char.ToUpper(@user.Fname[0])@user.Fname.Substring(1)</p>
        </div>
        <div class="col-6 mb-3">
            <h6>Last Name</h6>
            <p class="text-muted">@char.ToUpper(@user.Lname[0])@user.Lname.Substring(1)</p>
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-6 mb-3">
            <h6>Email</h6>
            <p class="text-muted">@char.ToUpper(@user.Email[0])@user.Email.Substring(1)</p>
        </div>
        <div class="col-6 mb-3">
            <h6>DOB</h6>
            <p class="text-muted">@user.DOB</p>
        </div>
    </div>
    <br />
    <hr style="height:5px;color:black;"/>
    <div style="text-align:center">
        <a class="btn btn-primary" asp-controller="StudentProfile" asp-action="StudentProfileForm">Edit</a>
    </div>
    <br />
    <h6>Study Preferences</h6>
    <hr class="mt-0 mb-4">
    <div class="row pt-1">
        <div class="col-6 mb-3">
            <h6>Program Type</h6>
            <p class="text-muted">@if (SP.ProgramType != null) { @SP.ProgramType; }</p>
        </div>
        <div class="col-6 mb-3">
            <h6>Major Preference</h6>
            <p class="text-muted">@if (SP.Major != null) { @SP.Major; }</p>
        </div>
    </div>
    <h6>School Preferences</h6>
    <hr class="mt-0 mb-4">
    <div class="row pt-1">
        <div class="col-6 mb-3">
            <h6>Location</h6>
            <p class="text-muted">@if (SP.Location != null) {@SP.Location; }</p>
        </div>
        <div class="col-6 mb-3">
            <h6>Size</h6>
            <p class="text-muted">@if (SP.School_Size != null) { @SP.School_Size; }</p>
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-6 mb-3">
            <h6>Competitive Level</h6>
            <p class="text-muted">@if (SP.Competitive != null) { @SP.Competitive; }</p>
        </div>
        <div class="col-6 mb-3">
            <h6>Sports Overal Level</h6>
            <p class="text-muted">@if (SP.SportsOveralLevel != null) { @SP.SportsOveralLevel; }</p>
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-6 mb-3">
            <h6>Max Cost After Aid</h6>
            <p class="text-muted">@(SP.MaxCostAfterAid!=0 ? SP.MaxCostAfterAid : "Any")</p>
        </div>
        <div class="col-6 mb-3">
            <h6>Ratio Student:Faculty</h6>
            <p class="text-muted">@(SP.RatioStudentFaculty!=0 ? SP.RatioStudentFaculty+":1" : "Any")</p>
        </div>
    </div>
    <h6>Test Score</h6>
    <hr class="mt-0 mb-4">
    <div class="row pt-1">
        <div class="col-6 mb-3">
            <h6>ACT</h6>
            <p class="text-muted">@if (SP.ACT_Score != 0) { @SP.ACT_Score.ToString(); }</p>
        </div>
        <div class="col-6 mb-3">
            <h6>SAT</h6>
            <p class="text-muted">@if (SP.SAT_Score != 0) { @SP.SAT_Score.ToString(); }</p>
        </div>
        <div class="col-6 mb-3">
            <h6>GPA</h6>
            @if (SP.GPA != 0 && SP.GPA_outof != 0)
            {
                <p class="text-muted">@SP.GPA.ToString()/@SP.GPA_outof.ToString()</p>
            }
        </div>
    </div>
</div>